.note-editor-card{
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    min-width: 37rem;
    max-width: 37rem;
    border: 0.1rem solid var(--font-secondary);
    border-radius: 0.5rem;
    background-color: var(--background-primary);
}
.note-editor-title , .note-editor-body{
    padding: 0.6rem 0.8rem;
    color: var(--font-secondary);
    font-weight: 600;
}
.note-editor-title , .note-editor-body:focus{
    outline: none;
}
.editor-action-icons{
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.5rem;
}
.note-editor-title ,.editor-action-icons{
    display: none;
}
.note-editor-card:focus-within .note-editor-title{
    display:flex;
}
.note-editor-card:focus-within .editor-action-icons{
    display:flex;
}
.note-editor-card:focus-within .tag-chips-container{
    display:flex;
}
.btn-primay-submit{
    background-color: var(--primary);
 color: var(--background-primary);
 border-radius: 0.5rem;
 padding-left: 0.6rem;
 padding-right: 0.6rem;
}
.tag-section{
    height: fit-content;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    background-color: var(--background-secondary);
}
.tag-chips-container{
    display: none;
  
    column-gap: 0.6rem;
}
.tag-chip{
    color: var(--font-primary);
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    border-radius: 0.8rem;
    background-color: var(--background-secondary);
}
.priority-label{
    font-size: 0.9rem;
    color: var(--font-primary);
}
option{
    font-size: 0.8rem;
}

.color-selector{
    position: absolute;
    bottom: 2rem;
    display: none;
    column-gap: 1rem;
    background-color: var(--background-secondary);
    padding: 0.5rem;
    border-radius: 10px;
}
.color{
    padding: 0.8rem;
    border-radius: 50%;
}
.color-btn:hover .color-selector{
    display: flex;

}
 
